.attribution {color:black; font-size: 11px; text-align: center; }

.attribution a { color: hsl(228, 45%, 44%); }

body{
    font-size: 16px;
    font-family:"Outfit", Verdana, Geneva, Tahoma, sans-serif;
    margin:0;
    background-color:hsl(30, 54%, 90%);
    color:hsl(30, 10%, 34%);
}

h1,h2{
    font-family:"Young Serif";
}

h1{
   color:hsl(24, 5%, 18%);
   font-size:2em;
   line-height:1em;
}

h2{
    color:hsl(14, 45%, 36%);
}

h3{
    color:hsl(332, 51%, 32%);
}

*{
    box-sizing: border-box;
}

img{
    width:100%;
    border-radius:20px;
    margin:0;
}

main{
    margin:0;
}

li{
    color:hsl(14, 45%, 36%);
}
li > p{
    color:hsl(30, 10%, 34%);
}
hr{
        border: none;
        height: 1px;
        /* Set the hr color */
        color: hsl(30, 10%, 34%);  /* old IE */
        background-color: hsl(30, 10%, 34%);  /* Modern Browsers */
        opacity:60%;
}
#html-container{
    
    display:flex;
    align-items: center;
    justify-content: center;
    margin:7em auto;
    width:60%;
}

main{
    background-color:hsl(0, 0%, 100%);
    padding:40px 80px;
    border-radius:30px;
}

.bold{
    font-weight:600;
    color:hsl(24, 5%, 18%);
}
table{
    width: 100%;
}

table, th, td{
    border-bottom: 1px solid hsl(24, 5%, 18%);
    border-collapse:collapse
}

table, tr:last-child td{
    border-bottom:none;
}

td{
    padding:10px 10px 10px 40px;
    width:60%;
}

td:last-child{
    color:hsl(14, 45%, 36%);
}

#preparation-time{
    padding:1em 2em
}

@media only screen and (max-width:600px){
    #html-container{
        margin:0;
        padding-top:0;
        border-radius:0;
        width:100vw;
    }
    img{
        border-radius:0;
        width:100vw
    }
    #text{
        padding:0px 80px;
    }
    main{
        padding:0px 80px 40px 80px;
    }
}